<div class="AI_teacher  three_section">
    <div class="AI_heading">AI Teacher 🍂<button class="stop"></button></div>
    <div class="chat_screen">
        <!-- <div class="user msg"></div>
       <div class="bot msg"></div> -->


    </div>
    <div class="userChat">
        <input type="text" id="UserTxt" placeholder="Chat with your teacher...">
        <button class="sendBtn">Send</button>
    </div>
</div>


<div class="question_area  three_section">

    <div class="question_heading_area">
        <div class="question_heading">Questions🌿</div>
        <div class="wrap_two">
            <select name="level" id="level">
                <option value="">Select Level</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
            <button class="generate_btn">Generate</button>
        </div>
    </div>

    <div class="question_screen">

        <!-- <div class="question">
            <p>${i}. ${question[0]}</p>
            <div class="options">
                <label><input type="radio" name="Q${i}" value="${optA[0]}">${optA[0]}</label>
                <label><input type="radio" name="Q${i}" value="${optB[0]}">${optB[0]}</label>
                <label><input type="radio" name="Q${i}" value="${optC[0]}">${optC[0]}</label>
                <label><input type="radio" name="Q${i}" value="${optD[0]}">${optD[0]}</label>
            </div>
        </div> -->

    </div>
    
    <button class="answer_submit_btn">Submit</button>

</div>


<div class="calculator_area  three_section">
    <button class="theme_btn"></button>
    <div class="calculator">
        <div class="topDisplay">
            <div class="numbers"></div>
            <div class="output_screen">
                <div class="output"></div>
                <div class="backspace">⌫</div>
            </div>
        </div>

        <div class="container">
            <button class="item1 item">C</button>
            <button class="item2 item">(</button>
            <button class="item3 item">)</button>
            <button class="item4 item">/</button>
            <button class="item5 item">7</button>
            <button class="item6 item">8</button>
            <button class="item7 item">9</button>
            <button class="item8 item smItem">*</button>
            <button class="item9 item">4</button>
            <button class="item10 item">5</button>
            <button class="item11 item">6</button>
            <button class="item12 item smItem">+/−</button>
            <button class="item13 item">1</button>
            <button class="item14 item">2</button>
            <button class="item15 item">3</button>
            <button class="item16 item">%</button>
            <button class="item17 item">^</button>
            <button class="item18 item">0</button>
            <button class="item19 item smItem">.</button>
            <button class="item20 item">=</button>
        </div>
    </div>
</div>